{% load staticfiles %}
<meta http-equiv='Content-type' content='text/htm'>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/page2.css' %}" />

    <title>腹肌能力测试</title>
</head>
<body bgcolor="#F7F7F7" >

    <form method="post" class="basic-grey">
        <center> <H1>腹肌能力测试</H1> </center>
        测试前请先观看以下视频<br>
<iframe class="ifvideo" src="//player.bilibili.com/player.html?aid=34252946&cid=60001401&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
<!----><H1></H1>
        <span>一分钟内：完成的卷腹数量是</span>
        <input type="number" name="hight" ><!----> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" value="确定" class="button">
        <br>

    </form>
</body>
</html>
