{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <title>推荐课程信息管理</title>
</head>
<body bgcolor="#F7F7F7">
    <div class="container my-con">
        <H3>添加推荐课程</H3>
    <form action="" method="post">
        {% csrf_token %}
        

            <div class="col-md-10">
        <div class="form-group">
            <label for="courseid" style="margin-left: 200px;margin-top: 50px;">课程编号</label>
            <input type="text" class="form-control" id="courseid" name="courseid" style="width: 200px; margin-left: 200px;">
        </div>

        <div class="form-group">
            <label for="coursename"" style="margin-left: 200px;">课程名称</label>
            <input type="text" class="form-control" id="coursename" name="coursename" style="width: 200px;margin-left: 200px;">
        </div>

        <div class="form-group">
            <label for="description" style="margin-left: 200px;">课程描述</label>
            <textarea  class="form-control" id="description" name="description" style="height: 100px;;width: 400px;margin-left: 200px;"></textarea>
        </div>

        
        <a href="/command/coursemanage"><button type="button"  class="btn btn-success pull-right" style="margin-left: 10px;">返回</button></a>
        &nbsp;&nbsp;<button type="submit" class="btn btn-success pull-right">提交</button>
    </div>
    </div>
    </form>



</body>
</html>