{% load staticfiles %}
<meta http-equiv='Content-type' content='text/htm'>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/page1.css' %}" />

    <title>我的身体数据{{requst.session.user_name}}</title>
</head>
<body bgcolor="#F7F7F7">
<form method="post" action="/command/body/" class="basic-grey">
{% csrf_token %}
    <H1>我的身体数据</H1>
    <span>身高(cm)：</span>
    <div class="inputbox">
    {{ form.hight}}
    </div>
    {{ errors.hight}}
    <br>
    <span>体重(kg)：</span>
     <div class="inputbox">
    {{ form.height}}
    </div>
    {{ errors.height}}
    <br>
    <span>胸围(cm)：</span>
    <div class="inputbox">
    {{ form.chest}}
    </div>
    <span>{{ errors.chest}}</span><br>
    <span>腰围(cm)：</span>
    <div class="inputbox">
   {{ form.waist}}
    </div>
{{ errors.waist}}

    <span>臀围(cm)：</span>
    <div class="inputbox">
     {{ form.hip}}
    </div>
<span>{{ errors.hip}}</span><br>
    <br><br>

    <H1></H1>
    <span>静息心率(bpm)：</span>
    <div class="inputbox">
     {{ form.queith}}
    </div>
    {{ errors.queith}}
        <br><br>

    <span>最大心率(bpm)：</span>
    <div class="inputbox">
    {{ form.maxh}}

    </div>
     {{ errors.maxh}}
    <br><br>
    <H1></H1>
    <input type="submit" value="保存" class="button">


</form>

</body>
</html>