{% load staticfiles %}
<meta http-equiv='Content-type' content='text/htm'>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/page2.css' %}" />

    <title>我的身体数据</title>
</head>
<body bgcolor="#F7F7F7">
<form method="post" action="/command/body/" class="basic-grey">
{% csrf_token %}
    <H1>我的身体数据</H1>
    <span>身高(cm)：</span>
    <div class="inputbox">
        {% if flag %}
        <input type="number" name="hight" value={{hight}} step="any" required id="id_hight">
        {% else %}
        {{ form.hight}}
        {% endif %}
    </div>
    {{ errors.hight}}
    <br>
    <span>体重(kg)：</span>
     <div class="inputbox">
          {% if flag %}
         <input type="number" name="height" value={{height}} step="any" required id="id_height">
         {% else %}
        {{ form.height}}
        {% endif %}
     </div>
    {{ errors.height}}
    <br>
    <span>胸围(cm)：</span>
    <div class="inputbox">
    {% if flag %}
         <input type="number" name="chest" value={{chest}} step="any" required id="id_chest">
         {% else %}
        {{ form.chest}}
        {% endif %}
    </div>
    <span>{{ errors.chest}}</span><br>
    <span>腰围(cm)：</span>
    <div class="inputbox">
   {% if flag %}
         <input type="number" name="waist" value={{waist}} step="any" required id="id_waist">
         {% else %}
        {{ form.waist}}
        {% endif %}
    </div>
{{ errors.waist}}

    <span>臀围(cm)：</span>
    <div class="inputbox">
     {% if flag %}
         <input type="number" name="hip" value={{hip}} step="any" required id="id_hip">
         {% else %}
        {{ form.hip}}
        {% endif %}
    </div>
<span>{{ errors.hip}}</span>
    <H1></H1>
    <span>静息心率(bpm)：</span>
    <div class="inputbox">
      {% if flag %}
         <input type="number" name="queith" value={{queith}} step="any" required id="id_queith">
         {% else %}
        {{ form.queith}}
        {% endif %}
    </div>
    {{ errors.queith}}
        <br><br>

    <span>最大心率(bpm)：</span>
    <div class="inputbox">
    {% if flag %}
         <input type="number" name="maxh" value={{maxh}} step="any" required id="id_maxh">
         {% else %}
        {{ form.maxh}}
        {% endif %}

    </div>
     {{ errors.maxh}}
    <br><br>
    <input value="保存" type="submit" style="background: #295088;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
    margin-left: 370px;
    margin-right: 100px;" >
</form>
    <!-- <center><input type="submit" value="保存" class="button">  -->
    <button onclick="javascript:window.location.href='/command/body/bodypic'" style="background: #295088;
        border: none;
        padding: 10px 25px 10px 25px;
        color: #FFF;
        box-shadow: 1px 1px 5px #B6B6B6;
        border-radius: 3px;
        text-shadow: 1px 1px 1px #9E3F3F;
        cursor: pointer;
        margin-left: 370px;
        " >查看数据监测</button>

{% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
    {% endif %}




</body>
</html>