{% load staticfiles %}
<meta http-equiv='Content-type' content='text/htm'>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>胸肌测试</title>
    <link rel="stylesheet" href="{% static 'css/page3.css' %}" />
</head>
<body bgcolor="#F7F7F7" >
        <input type="submit" value="返回" class="button">
    <form method="post" class="basic-grey">
         <H1>胸肌能力测试</H1>
        测试前请先观看以下视频<br><br>
<iframe class="ifvideo" src="//player.bilibili.com/player.html?aid=53180676&cid=93045460&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe><!----><H1></H1>
        <span>一次性完成的数量是？</span>
        <input type="number" name="hight" ><!----> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" value="确定" class="button">
        <br>

    </form>
</body>
</html>